<div class="card bg-light">
  <div
    *ngIf="isBad == true"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Something went wrong! </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <article
    class="card-body mx-auto"
    style="max-width: 400px; margin-top: 20px;"
  >
    <h4 class="card-title mt-3 text-center">Employee Registration</h4>
    <p class="text-center">
      You can add new employee's basic details from here
    </p>
    <p></p>
    <form>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input
          class="form-control"
          placeholder="First name"
          type="text"
          required
          id="firstName"
          name="firstName"
          [(ngModel)]="user.firstName"
        />
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input
          class="form-control"
          placeholder="Last Name"
          type="text"
          id="lastName"
          name="lastName"
          required
          [(ngModel)]="user.lastName"
        />
      </div>

      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input
          required
          id="emailId"
          name="emailId"
          [(ngModel)]="user.emailId"
          class="form-control"
          placeholder="Email address"
          type="email"
        />
      </div>

      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input
          required
          class="form-control"
          placeholder="Salary"
          type="text"
          id="salary"
          name="salary"
          [(ngModel)]="user.salary"
        />
      </div>

      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input
          required
          class="form-control"
          placeholder="Address"
          type="text"
          id="address"
          name="address"
          [(ngModel)]="user.address"
        />
      </div>

      <!-- form-group// -->
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          (click)="registerNow()"
        >
          Register Employee
        </button>
      </div>
      <!-- form-group// -->
    </form>
  </article>
</div>
<!-- card.// -->
